/* Define keyframe animations for the button and text box */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Professional button hover animation */
@keyframes buttonHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply styles to the login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  animation: fadeIn 1s ease-in;
  font-family: 'Arial', sans-serif;
}

/* Style for the login form */
.login-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 2s ease-in;
}

/* Style for the logo */
.logo img {
  
  margin-bottom: 1rem;
}

/* Style for the title */
.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

/* Style for the body text */
.body-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #666;
}

/* Style for the login separator */
.sign-in-seperator span {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

/* Style for the form group */
.login-form-group {
  margin-bottom: 1rem;
  text-align: left;
  animation: slideInUp 0.5s ease-in;
}

/* Additional styles for input group */
.input-group {
  position: relative;
}

/* Style for the form inputs */
.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  width: 92%;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

/* Style for user label */
.user-label {
  position: absolute;
  left: 15px;
  bottom: 35px;
  color: #000000;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

/* Change border color and apply box-shadow on input focus */
.input:focus,
.input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}

/* Adjust user label on input focus and valid state */
.input:focus ~ .user-label,
.input:valid ~ .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 .2em;
  color: #2196f3;
}

/* Style for the login button */
.rounded-button.login-cta {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: #2575fc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  /* animation: slideInUp 0.5s ease-in, buttonHover 1s infinite ease-in-out; */
}

/* Change button background color on hover */
.rounded-button.login-cta:hover {
  background: #1a5bb8;
  transform: translateY(-3px);
  animation: buttonHover 0.5s ease-in-out;
}

/* Style for the Toast container */
.Toastify__toast-container {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
}
