/* Import a stylish font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.metrics-dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif; /* Use stylish font */
}

.metric-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s;
}

.metric-card:hover {
  transform: scale(1.05);
}

.atm-card {
  background: linear-gradient(135deg, #4d4dff, #4d79ff);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
  position: relative;
}

.atm-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.atm-card p {
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.atm-card:before, .atm-card:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}

.atm-card:before {
  background: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.atm-card:after {
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(-45deg);
  transform-origin: top right;
}

/* Animation for text on hover */
@keyframes textHoverAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.atm-card:hover h2, .atm-card:hover p {
  animation: textHoverAnimation 0.6s ease-in-out;
}

.metric-card .fa-icon {
  margin-bottom: 10px;
}
