.custom-select {
  width: 95%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-select:focus {
  border-color: #007bff;
}

.custom-select option {
  padding: 10px;
}
.add-product-page {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.add-product-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .add-product-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .add-product-form {
    display: flex;
    flex-direction: column;
  }
  
  .add-product-form input,
  .add-product-form button {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
  }
  
  .add-product-form input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .add-product-form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  .add-product-form button:hover {
    background-color: #0056b3;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  